<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Wifi</title>
    <link rel="stylesheet" href="public/style.css">
   
</head>

<body>


    <nav class="nav">
        <button class="btn-matriculesesm">SAIBA MAIS</button>
    </nav>

    <div class="conteiner">

        <form method="post">

            <div class="text-top">
                <h1>Login WIFI</h1>
            </div>

            <div class="radius">
                <div >
                    <input id="Aluno" type="radio" name="radiu" value="Aluno" checked required>
                    <label for="Aluno">Aluno</label>
                </div>
                <div>
                    <input id="Colaborador" type="radio" value="Colaborador" name="radiu" required>
                    <label for="Colaborador">Colaborador</label>
                </div>

            </div>

            <div class="inputs">
                <input type="text" required placeholder="CPF ou Matricula" class="input-text" name="Matricula">
            </div>
            <div class="inputs">
                <input type="text" required placeholder="Senha" class="input-text" name="Senha">
            </div>


            <button type="submit" class="btn-matriculesesm mb">Enviar</button>

        </form>

    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</html>